.button-double-width {
    grid-column-end: span 2;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: gray;
    border: black 1px solid;
    font-size: 3rem;
}

.button-orange {
    background-color: orange;
    color: white;
}
